body{
    margin:0;
    padding:0;
    background:blueviolet;
    font-family:'Raleway',sans-serif;
    color:#fff;
}
.banner
{
    height: 100vh;
    width:100%;
    background:url(../../assets/img/medical1.jpg);
    background-position:top;
    background-size:cover;
    background-repeat:no-repeat;
}

.banner .info
{
    margin-top: 15%;
    transform:translateY(-15)
}

.banner .info .h1
{
    font-size:2.5em;
    font-weight:700;
    color:#fff;
    letter-spacing: 2px;
}


.banner .info p
{
    font-size: 2em;
    font-weight: 500;
    color: rgb(13, 133, 67);
    letter-spacing: 2px;
}

.banner .info a{

    margin-left : 50%;
    transform : translateX(-50%);
    color:#fff;
    background:#491de9;
    padding :10px 20px;
    font-size: 1em;
    font-weight: 200;
}

.banner .info a: hover{
    background: #e91e63;
}
