<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <title>Help Page</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
    <link href ="https://fonts.googleapis.com/css?family=Raleway&display=swap" rel="stylesheet"/>
  </head>
  <body>
    <div class="container-fluid banner">
      <div class = "row">
        <div class = "col-md-6 offset-md-3 info">
          <h1 class="text-center">Emergency Contact List</h1>
          <p class= "text-center">
            Welcome to StarsHospital Group any Emergency contact to the 4372240545 
          </p>
         <a  routerLink = "contact" class=" btn btn-md">Help</a>
    
         <button routerLink = "home" routerLinkActive = "active" (click)= "navigateToHome()" class = "btn btn-danger" >Home Page</button>
        </div>
      </div>
    </div>
  </body>
</html>